@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


body {
    font-family: 'Open Sans', sans-serif;
    color: #7f8c8d;
    background-color: #fefefe;
    /*margin-top: 1em;*/
}

h1, h2, h3 {
    font-family: 'Slabo 27px', serif;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 5s linear*/;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
